<% provide(:title, 'Dashboard') %>

<%= render "shared/new_menu"%>

<div class="row">
  <div class="span3">
    <%= render "shared/quick_links"%>
  </div>
  <div class="span9">
    <h3>My Course</h3>

    <p>
Let him learn early that the bullies are the easiest to lick... Teach him, if you can, the wonder of books... But also give him quiet time to ponder the eternal mystery of birds in the sky, bees in the sun, and the flowers on a green hillside.

In the school teach him it is far honourable to fail than to cheat... Teach him to have faith in his own ideas, even if everyone tells him they are wrong... Teach him to be gentle with gentle people, and tough with the tough.
    </p>
  </div>
</div>
