<ul class="nav nav-list">
  <li class="nav-header">My Supscription</li>
  <li class="active"><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
  <li><a href="#"><i class="icon-pencil"></i>Your 7-Day Free Trial Expired
Upgrade Now</a></li>

  <li class="nav-header">My Level</li>
  <li><a href="#"><i class="icon-user"></i> Beginner</a></li>

  <li class="nav-header">My Quick Links</li>
  <li><a href="#"><i class="icon-user"></i>Browse Lessons</a></li>
  <li><a href="#"><i class="icon-cog"></i>My Account</a></li>
  <li class="divider"></li>
  <li><a href="#"><i class="icon-flag"></i>Flashcards</a></li>

  <li class="nav-header">Help</li>
  <li><a href="#"><i class="icon-user"></i>How to Download</a></li>
  <li><a href="#"><i class="icon-cog"></i>Video Tutorials</a></li>
  <li><a href="#"><i class="icon-flag"></i>Help Center</a></li>
</ul>